[Unit]
Description=Webex Status Light
After=network.target

[Service]
Environment=BOT_ACCESS_TOKEN=foo
Environment=PERSON_ID=bar
ExecStart=source <replace>/venv/bin/activate && <replace>/venv/bin/python3 <replace>/webexapp.py
ExecStop=<replace>/venv/bin/python3 <replace>/ledclean.py && deactivate
Restart=on-abnormal
RestartSec=15s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
