[Unit]
Description=Webex Status Light
After=network.target

[Service]
User=<user>
Environment=BOT_ACCESS_TOKEN=foo
Environment=PERSON_ID=bar
WorkingDirectory=<replace>
ExecStart=<replace>/venv/bin/python3 <replace>/webexapp.py
ExecStop=<replace>/venv/bin/python3 <replace>/ledclean.py
ExecStopPost=<replace>/venv/bin/python3 <replace>/ledclean.py
Restart=always
RestartSec=15s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
